@import '../../@theme/styles/themes';

@include nb-install-component() {
  .page-size {
    float: right;
  }

  .table-title {
    padding-top: 6px;
    float: left;
  }

  nb-card {
    transform: translate3d(0, 0, 0);
  }




}
