<nb-card>
  <nb-card-header>
    <div>
      <h3 class="table-title">{{tableName}}</h3>
      <nb-select class="page-size"
                 outline
                 status="primary"
                 [(selected)]="pageSize"
                 (selectedChange)="changePageSize(pageSize)">
        <nb-option [value]="10">10</nb-option>
        <nb-option [value]="20">20</nb-option>
        <nb-option [value]="50">50</nb-option>
        <nb-option [value]="100">100</nb-option>
      </nb-select>
    </div>
  </nb-card-header>

  <nb-card-body>
    <ng2-smart-table [settings]="settings"
                     [source]="source"
                     (edit)="editRow($event)"
                     (create)="addRow($event)"
                     (delete)="deleteRow($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
