<div class="col-md-12 col-xl-8">
  <nb-card>
    <nb-card-header class="justify-content-between">
      <div class="row">
        <h1 class="col-md-8 col-xl-8">{{this.question ? this.question.title : 'New question'}}</h1>
      </div>
      <div class="row justify-content-end">
        <div class="col-md-4 col-xl-5">
          <button type="button" nbButton
                  [status]="likeButtonStatus" (click)="incrementLikes()">{{this.vote.Likes}} Like
          </button>

          <button type="button" nbButton
                  [status]="dislikeButtonStatus" (click)="incrementDislikes()">{{this.vote.Dislikes}} Dislike
          </button>

        </div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <form [formGroup]="questionForm" (keydown.enter)="$event.preventDefault()" (ngSubmit)="saveItem()">
        <div class="form-group row">
          <label for="itemName"
                 class="col-sm-3 form-control-label">Title</label>
          <div class="col-sm-9">
            <input formControlName="title"
                   nbInput
                   autocomplete="off"
                   fullWidth
                   type="text"
                   class="form-control"
                   id="itemName"
                   placeholder="title">
          </div>
        </div>
        <div class="form-group row">
          <label for="itemDescription"
                 class="col-sm-3 form-control-label">Description</label>
          <div class="col-sm-9">
            <div class="input-group">
                  <textarea formControlName="description"
                            rows="4"
                            nbInput
                            fullWidth
                            id="itemDescription"
                            placeholder="Description"
                            required></textarea>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="itemImage"
                 class="col-sm-3 form-control-label">Link to image</label>
          <div class="col-sm-9">
            <input formControlName="imgUrl"
                   nbInput
                   fullWidth
                   type="text"
                   class="form-control full-height"
                   id="itemImage"
                   accept="image/*"
                   placeholder="Image">
          </div>
        </div>
        <div class="form-group row">
          <div
            class="col-sm-3 form-control-label">Answers
          </div>
          <div class="col-sm-9">
            <nb-accordion *ngIf=this.answers>
              <nb-accordion-item *ngFor="let answer of this.answers">
                <nb-accordion-item-header>
                  {{answer.title}}
                </nb-accordion-item-header>
                <nb-accordion-item-body>
                  Description: {{answer.description}}
                </nb-accordion-item-body>
              </nb-accordion-item>
            </nb-accordion>
            <br/>
            <button type="button" nbButton
                    [status]="answerButtonStatus"  [nbPopover]="addAnswerItem">+ Answer
            </button>
          </div>
        </div>

        <div class="form-group row justify-content-between">
          <div class="col-sm-3 d-none d-sm-block">
            <button type="button" nbButton outline (click)="navigateBack()"
                    [status]="backButtonStatus">All questions
            </button>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="save-button" nbButton outline
                    [status]="saveButtonStatus">Save
            </button>
          </div>
        </div>

      </form>
    </nb-card-body>
  </nb-card>
</div>
<ng-template #addAnswerItem>
  <div class="p-4 col-sm-12">
    <div class="w-100 pb-4">
      <h5>New Answer</h5>
    </div>
    <form [formGroup]="answerForm" (keydown.enter)="$event.preventDefault()">
      <div class="form-group row">
        <label for="answer"></label>
        <div class="col-sm-12">
          <input formControlName="title"
                 nbInput
                 autocomplete="off"
                 fullWidth
                 type="text"
                 class="form-control"
                 id="answer"
                 placeholder="Answer">
        </div>
      </div>
      <div class="form-group row">
        <label for="answerDescription"></label>
        <div class="col-sm-12">
          <div class="input-group">
                  <textarea formControlName="description"
                            rows="4"
                            nbInput
                            fullWidth
                            id="answerDescription"
                            placeholder="Description"
                            required></textarea>
          </div>
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <button type="button" class="save-button" nbButton outline
                [status]="saveButtonStatus" (click)="addAnswer()">Add
        </button>
      </div>
    </form>

  </div>
</ng-template>
